<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common::common_header(~{::title},~{})">

    <title>选课</title>

</head>

<body>
<!--左侧导航-->
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <div th:replace="~{common/common::sidebar(first='choose',second='mohu')}"></div>
        <!--End 左侧导航-->

        <!--头部信息-->
        <div th:replace="~{common/common::topbar}"></div>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <!-- 可选表 -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h3>课程列表</h3>
                                <label >选择查询方式</label>
                                <div class="pull-center">
                                <select class="form-control" id="select">
                                    <option value="cname">课程名字</option>
                                    <option value="cid">课程编号</option>
                                    <option value="teaname">老师名字</option>
                                </select>
                                </div>
                                <div class="pull-center">
                                <div class="input-group input-center">
                                    <span class="input-group-addon" >输入内容</span>
                                    <input type="text" class="form-control" placeholder=" " id="input">
                                </div>
                                </div>
                                <div class="pull-center">
                                    <button class="btn btn-w-lg" id="chaxun" onclick="chaxun()"
                                    >查询</button>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-label btn-w-lg btn-primary" id="confirm">
                                        <label><i class="mdi mdi-checkbox-marked-circle-outline"></i></label> 确认选课
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <table class="table table-hover">
                                    <!-- 表头 -->
                                    <thead>
                                    <tr>
                                        <th scope="col">序号</th>
                                        <th scope="col">课程名称</th>
                                        <th scope="col">学分</th>
                                        <th scope="col">课程编号</th>
                                        <th scope="col">课程序号</th>
                                        <th scope="col">上课老师</th>
                                        <th scope="col">老师学号</th>
                                        <th scope="col">上课时间</th>
                                        <th scope="col">总容量</th>
                                        <th scope="col">剩余</th>
                                        <th scope="col">选择</th>
                                    </tr>
                                    </thead>
                                    <!-- 表格内容 -->
                                    <tbody id="tbody">
                                    <tr th:each="plan: ${planDto.list}">
                                        <th scope="row" th:text="${planStat.index+1+planDto.size*planDto.number}"></th>
                                        <td th:text="${plan.cname}"></td>
                                        <td th:text="${plan.credit}"></td>
                                        <td th:text="${plan.cid}"></td>
                                        <td th:text="${plan.cno}"></td>
                                        <td th:text="${plan.teaname}"></td>
                                        <td th:text="${plan.tno}"></td>
                                        <td th:text="${plan.time}"></td>
                                        <td th:text="${plan.room}"></td>
                                        <td th:text="${plan.capacity}"></td>
                                        <td th:text="${plan.num}"></td>
                                        <td><input type="checkbox" name="doChoose" th:value="${plan.pno}"></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div>
                                    <ul class="pagination pull-right" id="leaf" th:data-type="${type}" th:data-num="${data}">
                                        <li><a th:href="@{'/choose/listby'+${type}+'?'+${type}+'='+${data}+'&pageNum=0'}">首页</a></li>
                                        <li>
                                            <a th:if="${planDto.number != 0}" th:href="@{'/choose/listby'+${type}+'?'+${type}+'='+${data}+'&pageNum=' + ${planDto.number - 1}}" th:text="上一页" ></a>
                                        </li>
                                        <li>
                                            <a th:if="${planDto.number == 0}" th:href="@{'/choose/listby'+${type}+'?'+${type}+'='+${data}+'&pageNum=0'}" th:text="上一页"></a>
                                        </li>

                                        <!--<li th:each="pageNum:${#numbers.sequence(0, Plan.getTotalPages() - 1)}">
                                            <a th:href="'/choose/list?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum ne Plan.pageable.getPageNumber()}"></a>
                                            <a th:href="'/choose/list?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum eq Plan.pageable.getPageNumber()}" th:style="'font-weight:bold;background: #6faed9;'"></a>
                                        </li>
                                        <li><a class="btn btn-default btn-lg active" href="#" >1</a></li>-->

                                        <li>
                                            <a th:if="${planDto.number != (planDto.totalPages - 1)}" th:href="@{'/choose/listby'+${type}+'?'+${type}+'='+${data}+'&pageNum=' + ${planDto.number + 1}}" th:text="下一页" ></a>
                                        </li>
                                        <li>
                                            <a th:if="${planDto.number == (planDto.totalPages - 1)}" th:href="@{'/choose/listby'+${type}+'?'+${type}+'='+${data}+'&pageNum=' + ${planDto.totalPages - 1}}" th:text="下一页" ></a>
                                        </li>
                                        <li><a th:href="@{'/choose/listby'+${type}+'?'+${type}+'='+${data}+'&pageNum='+ ${planDto.totalPages==0 ? 0: planDto.totalPages - 1 } }" >尾页</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>

        </main>
        <!--End 页面主要内容-->


    </div>
</div>


<!-- thymeleaf fragment -->
<div th:replace="common/common::common_js(~{::script})">
    <script>

        function chaxun(){
            let data = $('#input').val();
            let type = $('#select').val()
            alert("/choose/listby"+type+"?"+type+"="+data+"&pageNum=0");
            alert('查询成功');
            window.location.href = "/choose/listby"+type+"?"+type+"="+data+"&pageNum=0";
        }

        $('#confirm').click(function(){
            if (confirm("是否确认选择！")) {
                let flag = 1;
                $.each($('input:checkbox:checked'), function (){
                    let pno = $(this).val();
                        $.ajax({
                            url: "/choose/"+ pno +"/confirm",
                            type: "POST",
                            async: false,
                            success: function (dto) {
                                if(dto.success){
                                    if(flag == 1){
                                        alert(dto.data);
                                        flag = 0;
                                    }
                                }else{
                                    alert(dto.errMsg);
                                }
                            }
                        })

                })
            }
        })


    </script>
</div>

</body>
</html>